; configuration for php amqp module
; priority={{php_amqp_extension_priority}}
extension={{php_amqp_extension}}

; settings
amqp.auto_ack = {{php_amqp_auto_ack}}
amqp.host = {{php_amqp_host}}
amqp.login = {{php_amqp_login}}
amqp.password = {{php_amqp_password}}
amqp.port = {{php_amqp_port}}
amqp.prefetch_count = {{php_amqp_prefetch_count}}
amqp.vhost = {{php_amqp_vhost}}
amqp.timeout = {{php_amqp_timeout}}
amqp.read_timeout = {{php_amqp_read_timeout}}
amqp.write_timeout = {{php_amqp_write_timeout}}
amqp.connect_timeout = {{php_amqp_connect_timeout}}
